
  <form id="search-form" action="/seach" method="POST" enctype="multipart/form-data">
  <div class="form-group col-xs-9">
    <input autocomplete="off" name="search" class="form-control" type="text" placeholder="Search">
  </div>
  <div class="form-group col-xs-3">
    <button type="submit" class="btn btn-block btn-primary">Search</button>
  </div>
  </form>

  <!--<%= data.id %>-->
  
  <% data.forEach((img) => {%>
    <a href="/pikka/<%= img.id %>">
      <img src="/-/images/<%= img.id %>" alt="">
    </a>
    <p>
      <%= img.caption %>
    </p>
    <p>Comment: 
      <% if(img.quantity_comment !== null) {%>
        <%= img.quantity_comment %>
      <%} else {%>
        none
      <%}%>
    </p>
    <p>Like: 
    <% if(img.quantity_likes !== null) {%>
      <%= img.quantity_likes %>
      <%} else {%>
        none
      <%}%>
    </p>
  <%})%>
